<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_LayoutAdmin :: layout(
            title='Giảm giá',
            headerTitle=${formTitle},
            content=~{::content}
      )}">

<body>

<section th:fragment="content">
    <div class="card p-4">

        <form th:action="@{/admin/giam-gia/save}" th:object="${giamGia}" method="post">

            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label>Tên chương trình</label>
                <input class="form-control" th:field="*{ten}">
            </div>

            <div class="mb-3">
                <label>Phần trăm giảm</label>
                <input type="number" class="form-control" th:field="*{phanTram}">
            </div>

            <button class="btn btn-success">Lưu</button>
            <a href="/admin/giam-gia" class="btn btn-secondary ms-2">Hủy</a>
        </form>

    </div>
</section>

</body>
</html>
